.header__title{
    padding: 5rem 0 2rem 0;
    margin: 0;
    text-align: center;
    font-size: 4rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: #ecfbff;
    background: #22130c;
}

@media screen and (max-width: 560px){
    .header__title{
    font-size: 2rem;
    padding-top: 3rem;
    padding-bottom: 0;
    }
}