.slider__text{
    min-width: 100%;
    height: 5rem;
    display: flex;
    align-items:center;
    font-size: 2rem;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-weight: 700;
}