.slider__captions{
    width: 60%;
    padding-left: 2rem;
    overflow: hidden;
}

@media screen and (max-width: 650px){
    .slider__captions{
        padding-left: 0;
    }
}

@media screen and (max-width: 560px){
    .slider__captions{
        padding-left: 0;
    }
}